name: test
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: actions/checkout@v3
      - uses: abatilo/actions-poetry@v2
      - run: poetry install --no-root
      - run: docker-compose up -d
      - run: poetry run python3 main.py import
