name: test
on: push
jobs:
  build-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker compose up -d

  import-data:
    runs-on: ubuntu-latest
    needs: build-docker
    steps:
      - uses: actions/setup-python@v5
      - uses: actions/checkout@v3
        with:
          python-version: '3.12'
      - uses: abatilo/actions-poetry@v2
      - run: poetry install --no-root
      - run: poetry run python3 main.py import -y