name: test-infrastructure-and-import
on: push
jobs:
  test-infrastructure-and-import:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker compose up -d

      - uses: actions/checkout@v3
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: abatilo/actions-poetry@v2
      - run: poetry install --no-root
      - run: poetry run python3 main.py import -y